<!-- app.component.html -->
<h1>Employee Management Application</h1>
<nav>
  <a routerLink="/employees">Employee List</a>
  <a routerLink="/add">Add Employee</a>
</nav>

<!-- Display Employee List Component -->
<app-employee-list></app-employee-list>

<!-- Display Employee Detail Component -->
<app-employee-detail></app-employee-detail>

<!-- Display Employee Edit Component -->
<app-employee-edit></app-employee-edit>

<!-- Display Employee Add Component -->
<app-employee-add></app-employee-add>

